<h3><%= image_tag "#{@picture_url}", :class => 'thumbnail', height: 120, width: 120 %></h3>
<ul class="nav nav-list">
  <% unless @user.linked_in.blank? %><li><%= link_to '<i class="icon-linkedin-sign"></i>LinkedIn'.html_safe, @user.linked_in %></li><% end %>
  <% unless @user.google_plus.blank? %><li><%= link_to '<i class="icon-google-plus-sign"></i>Google+'.html_safe, @user.google_plus %></li><% end %>
  <% unless @user.company_url.blank? %><li><%= link_to '<i class="icon-bookmark"></i>Company'.html_safe, @user.company_url %></li><% end %>
  <% unless @user.phone.blank? %><li><span><i class="icon-phone-sign"></i><%= @user.phone %></span></li><% end %>
  <% unless @user.skype.blank? %><li><span><i class="icon-cloud"></i><%= @user.skype %></span></li><% end %>
</ul>
<div class="row">
  <div class="span2">
    <a href="#" class='btn btn-primary btn-small' style="
    text-align: center;
    display: block;
    width: 108px;">Request a meeting</a>
  </div>
</div>
