<div class="">
  <div class="wizard-container">
    <div id="signupWizard" class="wizard">
      <ul class="steps">
        <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Hello<span class="chevron"></span></li>
        <li data-target="#step2"><span class="badge">2</span>Give<span class="chevron"></span></li>
        <li data-target="#step3"><span class="badge">3</span>Receive<span class="chevron"></span></li>
        <li data-target="#step4"><span class="badge">4</span>Connect<span class="chevron"></span></li>
        <li data-target="#step5"><span class="badge">5</span>Meet<span class="chevron"></span></li>
      </ul>
      <div class="actions">
        <button class="btn btn-prev" disabled=disabled><i class="icon-arrow-left"></i>Previous</button>
        <button class="btn btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
      </div>
    </div>

    <!-- Inspiration taken from http://ui-patterns.com/collections/account-registration/entry/2311 -->

    <%= simple_form_for @user, html: {id: 'signup_wizard_form'} do |f| %>
      <div class="step-content">
        <div class="step-pane active" id="step1">
          <%= render 'home/step01', f:f %>
        </div>
        <div class="step-pane" id="step2">
          <%= render 'home/step02', f:f %>
        </div>
        <div class="step-pane" id="step3">
          <%= render 'home/step03', f:f %>
        </div>
        <div class="step-pane" id="step4">
          <%= render 'home/step04', f:f %>
        </div>
        <div class="step-pane" id="step5">
          <%= render 'home/step05', f:f %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="actions bottom">
    <input type="button" class="btn btn-mini" id="wizard-prev" value="Previous" disabled=disabled>
    <input type="button" class="btn btn-mini" id="wizard-next" value="Next">
  </div>
</div>

<% unless @user.registered %>
  <script>
    $(function() {
      $("#signupModal").modal({
        backdrop: 'static'
      })
    })
  </script>
<% end %>

<% if current_user && (current_user.id == @user.id) %>
  <script>
    $(function() {
      $('.user_full_name').on('click', function(e) {
        $("#signupModal").modal('toggle')
        e.stopPropagation(); return false;
      })
    })
  </script>
<% end %>