<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.html"><%= image_tag 'logo.png' %></a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="blog_fullwidth.html">Blog</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><% if current_user %>
            <%= link_to "Sign out", signout_path %>
          <% else %>
            <%= link_to "Sign In", '/auth/linkedin' %>
          <% end %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
