<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/navbar' %>

    <%= render 'layouts/slider_block' %>

    <%= render 'layouts/hero_unit' %>

    <div class="container">

      <%= render 'layouts/front_page_signed_out' %>

    </div> <!-- /container -->

    <%= render 'layouts/footer' %>

  </body>
</html>
